# Build directories
build/
bin/
out/
freeglut-build/
cmake-build-*/

# Compiled binaries and libraries
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.obj
*.o

# CMake temporary / output files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Python cache & virtual environments
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# OS / Editor temporary files
Thumbs.db
.DS_Store
.vs/
